.DS_Store
node_modules
prof
tsconfig.tsbuildinfo
.quartz-cache
private/
.replit
.obsidian
!notes/.obsidian/community-plugins.json
!notes/.obsidian/core-plugins.json
!notes/.obsidian/snippets/style.css
notes/Discrete Math/Graph Theory/EN-HE.md
*.pdf
public
notes/Computation/exam
