.clipboard-button {
  float: right;
  background: none;
  border-radius: var(--borderRadius);
  opacity: 0;
  border: 0 solid;
  margin: .3rem;
  padding: .4rem;
  display: flex
;
  position: absolute;
  right: 0;

  & > svg {
    filter: contrast(0.3);
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

pre {
  &:hover > .clipboard-button {
    opacity: 1;
  }
}
