.clipboard-button {
  position: absolute;
  display: flex;
  float: right;
  right: 0;
  padding: 0.4rem;
  margin: 0.3rem;
  color: var(--gray);
  border-color: var(--tx);
  background-color: var(--bg);
  border: 1px solid;
  border-radius: var(--borderRadius);
  opacity: 0;

  & > svg {
    fill: var(--bg);
    filter: contrast(0.3);
  }

  &:hover {
    cursor: pointer;
    border-color: green;
  }

  &:focus {
    outline: 0;
  }
}

pre {
  &:hover > .clipboard-button {
    opacity: 1;
  }
}
