.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/hotkeys.json
.obsidian/workspace.json
.obsidian/themes/Blue Topaz/manifest.json
.obsidian/themes/Blue Topaz/theme.css
.obsidian/community-plugins.json
.obsidian/global-search.json
.obsidian/plugins/obsidian-git/data.json
.obsidian/plugins/obsidian-git/main.js
.obsidian/plugins/obsidian-git/manifest.json
.obsidian/plugins/obsidian-git/styles.css
.obsidian/themes/Obuntu/manifest.json
.obsidian/themes/Obuntu/theme.css
.obsidian/themes/Sanctum/manifest.json
.obsidian/themes/Sanctum/theme.css
