@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@media print {
  body {
    --font-text-theme: "EB Garamond", "David Libre", serif !important;

    --h1-font: "EB Garamond", "David Libre", serif !important;
    --h2-font: "EB Garamond", "David Libre", serif !important;
    --h3-font: "EB Garamond", "David Libre", serif !important;
    --h4-font: "EB Garamond", "David Libre", serif !important;
    --h5-font: "EB Garamond", "David Libre", serif !important;
    --h6-font: "EB Garamond", "David Libre", serif !important;

    --font-text-size: 15px !important;
    --h1-font: sans-serif;
    --h2-font: sans-serif;
    --h3-font: sans-serif;
    --h4-font: sans-serif;
    --h5-font: sans-serif;
    --h6-font: sans-serif;
  }
}

.theme-dark img[src$=".svg"] {
    filter: invert(1) hue-rotate(180deg);
}

.internal-embed {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
}

.markdown-rendered table {
  margin: auto;
}