.theme-dark {
  --titlebar-background-focused: var(--background-modifier-active-hover) !important;
  --bold-modifier: 400;
}

.sidebar-toggle-button {
  display: none;
}


.search-input-container .input-right-decorator.clickable-icon {
    display: none;
}

.search-input-container input {
    padding-inline-start: 9px;
}
.search-row .clickable-icon {
    display: none;
}
.search-input-container:before {
  display: none;
}

@media not print {
  .page-break {
    border-width: 3px 0 0 0;
    border-style: dashed;
    border-color: var(--hr-color);
  }

  .page-break::before {
    content: "PAGE BREAK";
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    color: var(--text-muted);
  }
}


.internal-embed {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
}

.markdown-rendered table {
  margin: auto;
}


.text-centered td {
  text-align: center;
}

