.theme-dark {
  --titlebar-background-focused: var(--background-modifier-active-hover) !important;
}

@media not print {
  .page-break {
    border-width: 3px 0 0 0;
    border-style: dashed;
    border-color: var(--hr-color);
  }

  .page-break::before {
    content: "PAGE BREAK";
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    color: var(--text-muted);
  }
}

.theme-dark img[src*=".svg"],
.theme-dark img[alt*=".svg"] {
  filter: invert(1) hue-rotate(180deg);
}

.internal-embed {
  display: flex !important;
  flex-direction: column;
  gap: 10px;
}

.markdown-rendered table {
  margin: auto;
}





