@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Amiri:ital@0;1&display=swap');

/* Print CSS */
@media print {
  body {
    --font-text-theme: "Amiri", serif;
    --font-text-size: 21px !important;
    --line-height-normal: 1;
    --heading-spacing: 0;
    --p-spacing: 0;
  }
}

.theme-dark .internal-embed.image-embed img {
    filter: invert(1) hue-rotate(180deg);
}

markdown-source-view.mod-cm6 .internal-embed {
    display: flex;
    flex-direction: column;
    gap: 10px;
}