@use "./variables.scss" as *;
@use "./syntax.scss";
@use "./callouts.scss";

:root {
  --tx: #100f0f;
  --tx3: #24837B;
  --bg: #FFFCF0;
  --bg2: #f2f0e5;
  --bg3: #ddf1e4;
  --broader: #E6E4D9;
}
:root[saved-theme="dark"] {
  --tx: #dbdad4;
  --tx3: #3aa99f;
  --bg: #233e37;
  --bg2: #182b26;
  --bg3: #216561;
  --broader: #586c66;
}

body, input, textarea, button {
  font-size: 1rem !important;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "IBM Plex Sans", Segoe UI, Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  text-size-adjust: none;
  overflow-x: hidden;
  width: 100vw;
}

body,
section {
  margin: 0;
  max-width: 100%;
  box-sizing: border-box;
  background-color: var(--bg2);
  color: var(--tx);
}

.text-highlight {
  background-color: #fff23688;
  padding: 0 0.1rem;
  border-radius: 5px;
}

::selection {
  background: var(--bg3);
}

p,
ul,
text,
a,
tr,
td,
li,
ol,
ul,
.katex,
.math {
  color: var(--tx);
  fill: var(--tx);
  overflow-wrap: anywhere;
  hyphens: auto;
}

.math {
  &.math-display {
    text-align: center;
  }
}

.sidebar {
  background: var(--bg2);
  
  a { 
    text-decoration: none;
  }
}

a:hover {
  color: var(--tx3);
}

article {
  a {
    &:focus {
      outline: none;
      background-color: var(--bg3);
    }

    &.internal {
      padding: 0 0.1rem;
      border-radius: 5px;
      line-height: 1.4rem;

      &:has(> img) {
        background-color: none;
        border-radius: 0;
        padding: 0;
      }

      &.tag-link {
        &::before {
          content: "#";
        }
      }
    }

    &.external .external-icon {
      height: 1ex;
      margin: 0 0.15em;

      >path {
        fill: var(--tx);
      }
    }
  }
}

// .desktop-only {
//   display: initial;
//   @media all and (max-width: $fullPageWidth) {
//     display: none;
//   }
// }

.mobile-only {
  display: none;

  @media all and (max-width: $fullPageWidth) {
    display: initial;
  }
}

.page {
  @media all and (max-width: $fullPageWidth) {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: $pageWidth;
  }

  & article {
    &>h1 {
      font-size: 2rem;
    }

    & li:has(> input[type="checkbox"]) {
      list-style-type: none;
      padding-left: 0;
    }

    & li:has(> input[type="checkbox"]:checked) {
      text-decoration: line-through;
      text-decoration-color: var(--gray);
      color: var(--gray);
    }

    & li>* {
      margin-top: 0;
      margin-bottom: 0;
    }

    p>strong {
      color: var(--tx);
    }
  }

  &>#quartz-body {
    width: 100%;
    display: flex;

    @media all and (max-width: $fullPageWidth) {
      flex-direction: column;
    }

    & .sidebar {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0rem;
      top: 0;
      width: $sidePanelWidth;
      margin-top: $topSpacing;
      box-sizing: border-box;
      padding: 0 4rem;
      position: fixed;

      @media all and (max-width: $fullPageWidth) {
        position: initial;
        // flex-direction: row;
        padding: 0;
        width: initial;
        margin-top: 2rem;
      }
    }

    & .sidebar.left {
      left: calc(calc(100vw - $pageWidth) / 2 - $sidePanelWidth);

      @media all and (max-width: $fullPageWidth) {
        gap: 0;
      }
    }
  }


  & .center,
  & footer {
    background-color: var(--bg);
    margin-left: auto;
    margin-right: auto;
    width: $pageWidth;

    @media all and (max-width: $fullPageWidth) {
      width: initial;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.footnotes {
  margin-top: 2rem;
  border-top: 1px solid var(--bg);
}

input[type="checkbox"] {
  transform: translateY(2px);
  color: green;
  border: 1px solid var(--bg);
  border-radius: 3px;
  background-color: var(--bg);
  position: relative;
  margin-inline-end: 0.2rem;
  margin-inline-start: -1.4rem;
  appearance: none;
  width: 16px;
  height: 16px;

  &:checked {
    border-color: green;
    background-color: green;

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 1px;
      width: 4px;
      height: 8px;
      display: block;
      border: solid var(--bg);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

blockquote {
  border-left: 4px solid green;
  margin: 1rem 0;
  background: var(--bg);
  padding: 3px 30px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
thead {
  color: var(--tx);
  font-weight: revert;
  margin-bottom: 0;

  article>&>a[role="anchor"] {
    color: var(--tx);
    background-color: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &[id]>a[href^="#"] {
    margin: 0 0.5rem;
    opacity: 0;
    transform: translateY(-0.1rem);
    font-family: var(--codeFont);
    user-select: none;
  }

  &[id]:hover>a {
    opacity: 1;
  }
}

// typography improvements
h1 {
  font-size: 1.75rem;
  margin-top: 2.25rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.4rem;
  margin-top: 1.9rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.12rem;
  margin-top: 1.62rem;
  margin-bottom: 1rem;
}

h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

figure[data-rehype-pretty-code-figure] {
  margin: 0;
  position: relative;
  line-height: 1.6rem;
  position: relative;

  &>[data-rehype-pretty-code-title] {
    font-family: var(--codeFont);
    font-size: 0.9rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid var(--bg);
    width: max-content;
    border-radius: 5px;
    margin-bottom: -0.5rem;
    color: var(--tx);
  }

  &>pre {
    padding: 0;
  }
}

pre {
  font-family: var(--codeFont);
  padding: 0 0.5rem;
  border-radius: 5px;
  overflow-x: auto;
  border: 1px solid var(--bg);
  position: relative;

  &:has(> code.mermaid) {
    border: none;
  }

  &>code {
    background: none;
    padding: 0;
    font-size: 0.85rem;
    counter-reset: line;
    counter-increment: line 0;
    display: grid;
    padding: 0.5rem 0;
    overflow-x: scroll;

    & [data-highlighted-chars] {
      background-color: var(--highlight);
      border-radius: 5px;
    }

    &>[data-line] {
      padding: 0 0.25rem;
      box-sizing: border-box;
      border-left: 3px solid transparent;

      &[data-highlighted-line] {
        background-color: var(--highlight);
        border-left: 3px solid green;
      }

      &::before {
        content: counter(line);
        counter-increment: line;
        width: 1rem;
        margin-right: 1rem;
        display: inline-block;
        text-align: right;
        color: rgba(115, 138, 148, 0.6);
      }
    }

    &[data-line-numbers-max-digits="2"]>[data-line]::before {
      width: 2rem;
    }

    &[data-line-numbers-max-digits="3"]>[data-line]::before {
      width: 3rem;
    }
  }
}

code {
  font-size: 0.9em;
  color: var(--tx);
  font-family: var(--codeFont);
  border-radius: 5px;
  padding: 0.1rem 0.2rem;
  background: var(--bg);
}

tbody,
li,
p {
  line-height: 1.6rem;
}

.table-container {
  overflow-x: auto;
  width: 100%;

  &>table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    table-layout: auto;

    &>* {
      line-height: 2rem;
    }
  }
}

th {
  text-align: left;
  border-bottom: 2px solid var(--broader);
}

td, th {
  white-space: nowrap;
  padding: .5vw;
}

tr {
  border-bottom: 1px solid var(--broader);

  &:last-child {
    border-bottom: none;
  }
}

img {
  max-width: 100%;
  border-radius: 5px;
  margin: 1rem 0;
}

p>img+em {
  display: block;
  transform: translateY(-1rem);
}

hr {
  width: 100%;
  margin: 2rem auto;
  height: 1px;
  border: none;
  background-color: var(--bg);
}

audio,
video {
  width: 100%;
  border-radius: 5px;
}

.spacer {
  flex: 1 1 auto;
}

ul.overflow,
ol.overflow {
  max-height: 400;
  overflow-y: auto;

  // clearfix
  content: "";
  clear: both;

  &>li:last-of-type {
    margin-bottom: 30px;
  }

  &:after {
    pointer-events: none;
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    background: linear-gradient(transparent 0px, var(--bg));
  }
}

.transclude {
  ul {
    padding-left: 1rem;
  }
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}