@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

.page .page-header {
  margin: 0;
  padding-left: 20px;
}

.center article {
  padding: 2vw;
}

.article-title {
  font-size: 2.75rem;
}

#explorer-ul,
#explorer-content {
  max-height: 75vh !important;
  margin: 0 !important;
}

.explorer.desktop-only {
  flex-wrap: nowrap;
  height: 90vh;
}

button#explorer {
  display: none;
}


.page {
  & .footer {
    background-color: none !important;
  }

  & .center {
    background-color: var(--bg);
    grid-column: 2 / 4;
    overflow-y: overlay;
    overflow-x: hidden;
    max-height: 100vh;
    margin: initial !important;
    width: initial !important;
    padding: 0 !important;
    position: relative !important;
  }

  & .sidebar {
    position: initial !important;
    margin: initial !important;
    width: initial !important;
    max-height: 100vh;
  }
}

@media (max-width: 1450px) {
  .page {
    padding: 0;
  }
}

ul.overflow:after,
ol.overflow:after {
  display: none;
}

footer {
  opacity: 1;
  background: none !important;
}

.center {
  position: initial !important;
  margin: initial !important;
  width: initial !important;
  grid-column: 2 / 4;
}

.sidebar {
  position: initial !important;
  margin: initial !important;
  width: initial !important;
}
div#quartz-body {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.left.sidebar {
  gap: 2vw !important;
  padding: 2vw 0 0 2vw !important;
}

.right.sidebar {
  padding: 2vw !important;
}

.search {
  max-width: initial !important;
}
div#search-icon {
  padding: 5px 0px;
  margin-right: 2vw;
}

@media all and (max-width: $fullPageWidth) {
  div#search-icon {
    margin-bottom: 10px;
  }
}



.page {
  @media all and (max-width: $fullPageWidth) {
    max-width: initial !important;
  }
}

@media (max-width: $fullPageWidth) {
  div#quartz-body {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex !important;
    flex-direction: column;
  }

  .desktop-only {
    display: none !important;
  }
  .center {
    max-height: initial !important;
  }
}

.dm-gh {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  svg {
    cursor: pointer;
    color: var(--tx);
  }

  input {
    display: none;
  }
}

// Links in article
button#toc {
  display: none;
}

/* pagelist */

.pagelist {
  display: grid;
  gap: 1em;
  padding: 1em;
  a {
    padding: 1em;
  }
}
.pagelist--file {
  background-color: var(--white) !important;
}

/**
  * style for parentheses for theorem/deffinitions numbering
  * @see static/script.js 
*/
.paren-text {
  font-family: 'Roboto Mono';
  font-size: smaller;
  opacity: 0.7;
}