@use "./base.scss";
@use "./variables.scss" as *;

.article-title {
  margin: 1rem 0 0;
  font-size: 2.5rem;
}

#explorer-ul,
#explorer-content {
  max-height: 75vh !important;
  margin: 0 !important;
}

.explorer.desktop-only {
  flex-wrap: nowrap;
  height: 90vh;
}

button#explorer {
  display: none;
}


.page {
  & .footer {
    background-color: none !important;
  }
}

@media (max-width: 1450px) {
  .page {
    padding: 0;
  }
}

ul.overflow:after,
ol.overflow:after {
  display: none;
}

footer {
  opacity: 1;
  background: none !important;
}

.center {
  position: initial !important;
  margin: initial !important;
  width: initial !important;
  grid-column: 2 / 4;
}


div#quartz-body {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.search {
  max-width: initial !important;
}
div#search-icon {
  padding: 5px 0px;
  margin-right: var(--pX);
}

@media all and (max-width: $fullPageWidth) {
  div#search-icon {
    margin-bottom: 10px;
  }
}



.page {
  @media all and (max-width: $fullPageWidth) {
    max-width: initial !important;
  }
}

@media (max-width: $fullPageWidth) {
  div#quartz-body {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex !important;
    flex-direction: column;
  }

  .desktop-only {
    display: none !important;
  }
  .center {
    max-height: initial !important;
  }
}



// Links in article
button#toc {
  display: none;
}

/* pagelist */
.page-listing {
  margin-top: 1rem;
}
.pagelist {
  gap: .5em;
  display: grid;
  a {
    padding: 0.8em;
    text-decoration: none;
    border-radius: var(--borderRadius);
  }
}
.pagelist--folder {
  background: var(--bg2);
}
/**
  * style for parentheses for theorem/deffinitions numbering
  * @see static/script.js 
*/
.paren-text {
  font-family: 'Roboto Mono';
  font-size: smaller;
  opacity: 0.7;
}



/**
  * for tikzjax diagrams
  * @see static/script.js, static/tikzjax.js,  
*/
.tikzjaxdiagram {
  text-align: center;
}
.tikzjaxdiagram svg {
  max-width: 98%;
}
:root[saved-theme=dark] figure.tikzjaxdiagram path {
  filter: invert(1) hue-rotate(180deg);
}

// for theme toggle
.disable-theme-toggle-animation .theme-toggle * {
  transition: none !important;
}
